body {margin:0; margin-left:5px;}
p, h2, h3, div, input,a {font-family: Arial;}
a {color:black; text-decoration: none}
a:hover {text-decoration:underline;}
.listHeader, .profile-info, .list-user label, .list-user-deleted label, .list-dates label, .list-statistics-container span 
    {font-weight:700;}
.language-select {margin-right:1rem;border-radius: 25px;}
.latest-additions-link {text-decoration: none;color:black;}
.latest-additions-link:hover {border-bottom:1px solid;}
.search-result-label p:hover{cursor:pointer;}

/*Background Color*/
.navbar,.flexbox-container, .header-btn button, .changeSearchVersionBtn, .resetEditBtn, .addNewBtn,.listsBtn, .dropdown-trigger, .modal-entry-btn, .header-btn 
,select
{ background-color: #dedbdb;
  color: black;}

.watchlist-btn, .like-btn, .favorites-btn, .dislike-btn, .watchlist-btn-active, .like-btn-active, .dislike-btn-active, .favorites-btn-active, .dislikes-btn-active, .dislikes-btn
  {background-color:white; border: none; opacity:0.5; font-size:16px;}
.watchlist-btn:hover, .like-btn:hover, .dislike-btn:hover, .watchlist-btn-active:hover, .like-btn-active:hover, .dislike-btn-active:hover, .favorites-btn:hover, .favorites-btn-active:hover
,.dislikes-btn:hover, .dislikes-btn-active:hover
  {border-bottom: 1px solid black; cursor: pointer;}
.watchlist-btn-active, .like-btn-active, .dislike-btn-active, .favorites-btn-active, .dislikes-btn-active {opacity:1;border-radius:10px;}
.watchlist-btn-active {background-color:#19b019}
.watchlist-btn-active:hover {background-color:#8a8a8a; color:white;}
.watchlist-btn:hover {opacity:1;background-color: rgb(242, 239, 239)}
.latestAdditionsHeader {font-weight:700; font-size: 1.2em;}
.list-item {
  border: 0.5px solid black;
  display:flex;
  position: relative;
  height:85px;
}
.list-title, .list-title-official, .list-description {margin:2px;}
.list-title:hover a, .list-title-official:hover a {cursor: pointer;}
.list-title-official {color:darkred;}
textarea {margin:5px 5px; margin-left:2px;}
.list-detailed-description{border-bottom:0.5px dotted black;}
.list-interactions-container {display:flex;flex-direction:row;}
.list-header {display:flex;}
.list-details-statistics {display:flex; align-items: flex-end;}
.list-details {display:flex; justify-content:space-between; flex-direction:column; align-items:flex-end; position:absolute; right:0; top:0; padding:5px; padding-bottom:0;}
.list-dates {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.list-dates label {margin-left:5px; margin-right:5px;}
.list-user-deleted {color:darkred; text-decoration: line-through;}
.list-date, .list-statistics-container p {margin:0;}
.list-buttons {display: flex; gap: 10px;justify-content: flex-end;}
.list-base-description {font-weight:bold;margin-top:0;}
.list-header {margin-top:5px; justify-content: space-between;}
.list-header-title {margin-bottom:0px; margin-top:0px; justify-content: flex-start; display:flex;}
.list-statistics-container {display:flex; flex-direction:row; justify-content: flex-end;}
.list-statistics, .list-statistics-filter {margin-top: 10px; margin-bottom: 5px; display:flex; flex-direction:row;}
.list-statistics-btn, .list-statistics-btn-active {background-color: white; border: none; border-bottom: 1px solid black; font-size: 14px;}
.list-statistics-btn-active {background-color: rgb(198, 197, 197); font-weight: bold;}
.list-statistics-btn:hover, .list-statistics-btn-active:hover {background-color:grey; cursor:pointer;}

.check-btn,.check-btn-active, .list-btn{border: 0; background-color:white; font-size:25px;}
.check-btn:hover,.check-btn-active:hover, .list-btn:hover {cursor:pointer; background-color:rgb(242, 239, 239);}
.check-btn::before, .check-btn-active:hover::before, .list-btn:hover::before{content: "\2610";}
.check-btn:hover::before, .check-btn-active::before, .list-btn::before {content: "\2611";}

.search-dropdown-popup {
  position: absolute;
  top: 50px; /* adjust this value to position the filter component vertically */
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

ul,li {list-style: none;}

.latestAdditionsList ul {border-bottom: 0.5px dotted;}
.latestAdditionsList {padding-right: 15px;}
.latestAdditions {
  list-style-type: none;
  border: 1px solid;
  text-align: center;
  width: 250px;
  margin-top:5px;
}
.latestAdditions header {padding-top: 5px;}

.listRow {
  font-size: 0.9em;
  border: 0.5px dotted;
  padding: 5px;
}

.reorderBtn, .clearDropdown, .expandBtn, .dropdown-toggle {
  background-color: #ffffff;
  border: none; border-bottom: 0.5px solid #a8a7a7;
  color: #000000;
  font-size: 14px; font-weight:600;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align:left;
  margin:5px;
}

.dropdown-popup,.dropdown-popup-browse {
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}
.dropdown-popup-browse {position:relative;}
.dropdown-popup-browse {position:absolute; top:160px;left: 50%; /* Position the left edge of the box at the horizontal center of the screen */
  transform: translateX(-50%); /* Move the box back by half of its own width */
  max-width: calc(100% - 20px);}
.dropdown-popup{
  position: absolute;
  top: 90px; /* adjust this value to position the filter component vertically */
  right: -30px;
}

.dropdown-menu-label {
  font-weight:600;
  border-bottom: 0.5px solid #a8a7a7;
  margin: 5px;
}
/*Author View */
.author-container-header {display: flex; flex-direction:row; position:relative; justify-content: center; border-bottom: 1px solid black; margin-top: 10px;}
.author-container {border: 0.5px solid black; position:relative;}
.author-container h2 {
  text-align: center;
  padding-bottom:5px;
  margin: 0;
  font-size: 24px;
  display: flex;
  flex-direction: row;
}
.author-header {color: #000000; text-decoration: none;}
.tab-container,.tab-container-open, .lists-tab,.create-new-list-tab, .lists-tab-open,.browser-type, .browser-type-active {
  background-color: #fff;
  color: #000;
  border: none; border-right: 0.5px solid #a8a7a7;
  cursor: pointer;
  margin:0px; margin-right:10px;
  font-size: 16px; font-weight:600;
  outline: none;
  padding-right:5px;
  min-width:200px;
}
.lists-tab-open, .lists-tab {min-width:130px;}
.tab-container, .tab-container-open {
  display:flex;
  flex-direction:row;
  justify-content: center; 
  align-items:center;
  margin-right:0px;
  padding-right:0px;
  border:none;
}
.tab-container:hover, .tab-container-open {cursor:pointer; background-color:rgb(242, 239, 239);}

.create-new-list-tab {background-color:#19b019; color:white;}
.create-new-list-tab:hover {border-bottom: 1px solid black; background-color:#087208;}
.tab-button, .tab-button-inactive {border:none;background-color:white;font-size:16px;}
.tab-button:hover, .tab-button-inactive:hover {cursor:pointer; background-color:rgb(95, 94, 93); color:white;}
.tab-button-inactive{background-color: #7b0505; color: white;}
.lists-tab-open,.browser-type-active {background-color:rgb(95, 94, 93); color:white;}
.browse-options,.browser-header {margin-top:5px;max-width:500px;}
.browser-order {background-color: white; border:none; padding:0px; margin-left:5px;}
.browser-order:hover{cursor:pointer;}
ul.comment-list.level-0 {padding:0px};
.tab-content {display: none;}
.tab-content.active {display: block;}
.tab-container-inactive {
  background-color: #716d6d;
  color: #ffffff;
  border: none; border-bottom: 1px solid #a8a7a7;
  cursor: pointer;
  margin:0px; font-size: 16px;
  outline: none;
  max-width:100px;
}
.tab-button-inactive {background-color: #716d6d; margin:0px;}

.person-info, .person-texts {margin-left: 10px; min-width: 400px; max-height: 600px;}
.person-info h2 {margin: 0; font-size: 24px;}
.person-info p, .person-texts p, .dropdown-menu-option {margin: 5px;}
.person-info p {margin-left:0;}

.author-img {max-width:400px;max-height:200px;object-fit: contain;}
.textImg {width:50px; height:75px; object-fit:contain;}

.person-texts {position:relative;}

.wikiExternals {margin: 10px;}

.text-container {border: 0.5px solid black; margin-right: 10px;}
.text-row, .archiveRow {
  color: #000000;
  text-decoration: none;
  margin:2px; margin-left: 5px;
}
.text-row-sub {
  font-style:italic; font-size: 12px;
  margin-left: 5px;
}
.text-row-detailed {border-bottom: 0.5px dotted black; border-top: 0.5px dotted black;}
.archiveRow:hover, .person-texts h3:hover, .author-header:hover, .source h4:hover 
      {border-bottom:1px solid black; cursor:pointer; background-color: rgb(242, 239, 239)}
.textInfo {display: flex; flex-direction: column;}
.text-img {max-width: 400px; max-height:200px;object-fit:contain;}

.textBox, .filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*Author View End */

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 0.7em;
  margin-bottom: 0px;
  text-align: center;
  font-style: italic;
  text-decoration: rgb(95, 94, 93);
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc; border-radius: 4px;
  text-align: center;
}

.popup-container {
  position: fixed;
  top: 0; left: 0; 
  width: 100%;height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease-in-out 0.2s;
}

.collapsibleBtn {cursor:s-resize;} 

.navbar {
  position: relative;
  display: inline-flex;
}

.dropbtn .mainSearch {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.flexbox-container {
  display: flex;/*this causes the stickyness of select window (right below search as desired)*/
  border-bottom: 1.5px solid #8a8a8a; 
  top: 0;
}

.search-input, .list-search-input {
  width: 500px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}
.list-search-input {padding-bottom:10px}
.list-element-search {border:1px solid black;}
.list-search-result {display:flex;flex-direction:row;}
.list-search-result p {margin:5px; border-bottom:0.5px solid black;}
.list-search-result button, .remove-col-btn {background-color: white; border:none;}
.list-search-result:hover, .list-remove-element:hover {cursor:pointer; border-bottom: 1px solid black;}
.list-reference-container, .list-reference-details {display:flex;flex-direction:row;margin:10px;}
.list-reference-container p {margin-bottom:0px; border-bottom:0.5px solid black;}
.list-reference-details p {margin:0;}

.list-element-draggable {cursor:move;}
table.drag-table {
  border-collapse: collapse;
  width: 100%;
  border: 0.5px solid black;
}
table.drag-table td, table.drag-table th {
  padding: 8px;
  border-bottom: 0.5px solid #ddd;
  border-right: 0.5px dotted #ddd;
}
table.drag-table th, .remove-col-btn {background-color: rgb(10, 10, 51); color:white;}
.remove-col-btn{border-radius: 25px; border: 0.5px solid white; margin-left:10px;}
.remove-col-btn:hover {background-color:white; cursor:pointer; color: black;}

.search-result,.search-result-selected {cursor:pointer; margin:8px; padding-left:0px;}
.search-result:hover, .search-result-selected {background-color:#bebebe}
.search-bar, .list-search-bar {
  border: 1px solid black;
  border-radius: 4px;
  margin-top:5px;
  background-color:white;
  flex-direction:row;
  display: flex;
}
.detailed-search-bar {
  max-width: 577px;
  border:1px solid black;
  margin: 5px;
}
.list-search-bar {max-width:500px;}
.search-result-length {margin:5px;opacity:50%; font-size:12px;}
.clear-search {padding-right:5px;}
.list-add-element-container{
  max-height: 300px; /* set the maximum height */
  overflow-y: auto;
  overflow-x:auto;
  max-width:500px;
  border:0.5px solid black;
  margin-bottom:10px;
}
.list-text-area {width:500px; height:100px}

.clear-search-button {border: none; background-color: white;border-radius: 30px;}
.clear-search-button:hover {background-color:rgb(221, 220, 220); cursor:pointer;}
.return-btn, .show-details-btn {cursor:pointer; font-weight:600; background-color:white;border:none;}
.return-btn:hover, .show-details-btn:hover{border-bottom:0.5px solid black;}

#detailed-search-results td, #detailed-search-results th, #importPreview td, #importPreview th, #listTable th, #listTable td {
  border: 1px dotted rgb(117, 115, 115);
  padding: 8px;
}
#detailed-search-results, #importPreview, #listTable, .search-result-all {
  border-collapse: collapse;
  border: 1px solid;
}
.search-result-all,.search-type, .radio-container, .list-search-type {width:fit-content;}
.list-search-type {border: 1px solid black; border-top: 0; margin:0;}
.search-result-all-elements {flex-direction:row; display: flex}
#detailed-search-results th, #listTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #08153f;
  color: white;
  top: 0px;
  cursor:pointer;
}
#detailed-search-results tr, #importPreview tr, #listTable tr {background-color: #ffffff;}
#detailed-search-results tr:hover, #importPreview tr:hover, #listTable tr:hover {background-color: #ddd;}
#detailedSearchHead .container {position: sticky;top: 0px;}

.popup-row:hover {cursor:pointer;}

.header-btn button, .changeSearchVersionBtn, .resetEditBtn, .addNewBtn,.listsBtn, .dropdown-trigger, .modal-entry-btn, .header-btn {
  border-radius: 30px;
  top:0;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.list-dropdown-trigger {border-radius:0px;margin-left:5px;}
.list-length {margin:0px;font-size:12px; margin-top:5px; text-decoration: underline;}
.extract-texts-btn {border: none; padding:0px;padding-bottom:1px; background:none;}
.extract-texts-btn:hover {cursor:pointer; border-bottom:0.5px solid black;}
.header-btn button {background: none;}
.header-btn:hover, .changeSearchVersionBtn:hover,.resetEditBtn:hover, .addNewBtn:hover, .listsBtn:hover,.extract-texts-btn:hover ,.collapsible:hover
,.dropdown-toggle:hover,.browser-order:hover, .reorderBtn:hover, .clearDropdown:hover, .expandBtn:hover
,.lists-tab:hover, .lists-tab-open:hover,.browser-type:hover, .browser-type-active:hover, .reorderBtn:hover, .clearDropdown:hover, .expandBtn:hover
.header-btn:active button, .editBtn:active, .submitEditBtn:active, .changeSearchVersionBtn:active, .addNewBtn:active, .listsBtn:active
,.profile-header-btn:hover, .profile-header-btn-active:hover, .modal-entry-btn:hover, .add-blog-btn:hover {
  background-color: rgb(242, 239, 239);}

.collapsible {
  background-color: #fff;
  color: #000;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.collapsible:after {
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.profile-dropdown-container,.dropdowns-container, .dropdown-menu, .filterTexts, .lists-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow-y:auto;
}
.profile-dropdown-container {flex-direction:column;}
.profile-option-box {display:flex;flex-direction:row;border-bottom: 0.5px solid darkgrey; min-height:50px;}

.author-component-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow-y:auto;
}

.dropdown{display: flex; flex-direction: column;align-items: center;}
.dropdown-browse {display:flex;}
.absolute {position:absolute;}

.dropdown-label {
  margin-bottom: 5px;
  margin-top:5px;
  font-weight: 600;
}

.table-row-content {position: relative;}
.table-row:hover tr {background-color:lightgrey}

.popup {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99999;
  min-width:500px;
}
.popup p {background-color: white;}
.popupArea { cursor:pointer;}

select {
  font-size: 15px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  width:auto; max-height:30px;
  margin-top:10px;
  border:none;
}
.sort-select {padding:0px;margin-left:5px;}
select:hover {cursor:pointer; border:1px solid black;}

.login-container, .register-container {
  background-color:white; 
  border: 1px solid black;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-btn, .create-user, .form-label {max-width:400px; object-fit: contain; margin: 5px 5px;}

.form-container{display: flex; flex-direction: column; align-items: left;}

.pw-error, .email-error, .list-error {color:red;}
.create-account-header, .create-list-header {margin:5px 5px; border-bottom: 0.5px solid black;}
.return-login-btn, .return-register-btn, .edit-btn, .delete-btn {background-color:white; border:none;}
.delete-btn {color:darkred; font-weight:700;}
.return-login-btn:hover, .return-register-btn:hover, .login-container button:hover, .create-user:hover, .submit-btn[type=submit]:hover, .save-btn:hover, .private-btn:hover 
    {border-bottom:1px solid black; cursor:pointer}
.login-container p, .login-container button, .form-container p, .form-container button, .form-container label, .form-container input
,.sign-in, .sign-in button {font-size: 16px; margin:5px 5px;}
.login-container input {border-radius: 25px; border: 0.5px solid black; padding:5px;}
.login-container button, .create-user, .submit-btn[type=submit], .return-login-btn, .save-btn, .private-btn
  {border:none;background-color:white;font-weight: 700; margin:5px 5px;}
.submit-btn[type=submit], .save-btn {border: 1px solid black; border-radius:25px;margin-top:5px;}
.submit-btn[type=submit]:hover, .save-btn:hover {background-color:#ccc;}
.radio-container {margin:5px;padding:none;}
.edit-btn {margin-left:5px;}
.edit-btn:hover, .delete-btn:hover, .delete-data-btn:hover, .delete-data-btn-active:hover {cursor:pointer; border-bottom:1px solid black;}
.delete-data-btn, .delete-data-btn-active {background-color: white; border:none; color: darkred; font-weight: bold;}
.delete-data-btn-active {text-decoration: line-through;}

.page-btn, .page-btn-active {background-color: white; border: 0.5px solid black;}
.page-btn:hover, .page-btn-active:hover {cursor:pointer; background-color:grey;}
.page-btn-active {background-color:grey;}

.source-result {max-width:200px; margin: 0; margin-bottom:5px; border-bottom:1px dotted black}
.source-container {display:flex; flex-direction:row;}
.source {margin-right: 5px;}
.source-header {border-bottom: 1px solid black;display:flex; justify-content:center; margin-left:10px;}
.source-header:hover {cursor:pointer;background-color:rgb(242, 239, 239);}
.comment-header {display:flex; justify-content:center;}
.comment-section {border-top: 0.5px solid black;}

.dropdown-container {position: relative;display: inline-block;}
.dropdown-trigger {cursor: pointer;}
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.dropdown-item {padding: 10px;border-bottom: 1px solid #ccc;transition: background-color 0.2s;}
.dropdown-item:hover {background-color: #f0f0f0;}
.dropdown-item a{color:black; text-decoration:none;}
.dropdown-item button, .logout-btn, .delete-user-btn, .edit-profile-btn
  {border:none; border-bottom:1px solid darkred;background-color:white; font-size:16px; padding:0;}
.delete-user-btn{color:darkred;}
.dropdown-item a:hover, .dropdown-item button:hover, .logout-btn:hover, .delete-user-btn:hover, .edit-profile-btn:hover
    {border-bottom:1px solid black; background-color:#f0f0f0; cursor:pointer;}
.profile-link-btn {background-color:#fff; border:none; font-size:14px;}
.profile-link-btn:hover{cursor:pointer;background-color:#f0f0f0;}

.watchlist-element-container,.element-list-element {display:flex; flex-direction:row; border-bottom: 0.5px dotted black;}
.element-list-element {font-size:10px; min-width: 150px; min-height: 20px; justify-content: space-between}
.list-name {margin-left:5px;}
.watchlist-element-container p {margin:5px;}
.profile-header-btn, .profile-header-btn-active,.author-text-row-btn  {border:none;background-color:white;}
.profile-header-btn:hover, .profile-header-btn-active:hover,.profile-header-btn-active {border-bottom:0.5px solid black;cursor:pointer;background-color: rgb(242, 239, 239);}
.header, .header-active {background-color:white;min-width: 250px;}
.header:hover, .header-active {background-color:#dedbdb; cursor:pointer;}
.add-header {margin-top: 5px;}
.checklist-header, .sort-container, .browser-header {display:flex;flex-direction:row;}
.range-container {display:flex; flex-direction:column;}
.checkbox-list {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.checkbox-list input[type="checkbox"] {margin-right: 5px;}
.add-blog-btn {
  background-color:white;
  border:none;
  padding-top:5px;
  font-size:16px;
}
.add-blog-btn:hover {cursor:pointer; border-bottom: 1px solid black; }
/*.edit-btn, .delete-btn {border-radius: 20px; border: 0.5px solid grey}*/
/* CSS for modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:auto;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  position: relative;
}

.modal-close {
  position: fixed;
  top: 40%;
  right: 28%;
  font-size: 24px;
  cursor: pointer;
  background: white;
  border: none;
}

.commented-element, .commented-comment p {font-style: italic; color: rgb(97, 96, 96);}
.commented-comment p {margin:0px;}
.user-container, .profile-row-container {display: flex;flex-direction: row;}
.author-text-row-btn:hover {cursor:pointer;background-color: #f0f0f0;border-bottom:1px solid black;}
.user-name {margin-left:5px;}

.user-element-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:9999;
}

.user-element-content {
  background-color: #fff; /* White background for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow for the modal */
  z-index: 1; /* Ensure modal is on top of the overlay */
}
.interaction-btn {background-color:white; border:none; padding:0; margin:0px;margin-left:5px;}
.interaction-btn:hover{border-bottom: 0.5px solid black; cursor:pointer;}
.interaction-user-row {margin:0;margin-top:3px; font-size:14px;}