.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease-in-out 0.2s;

}

.collapsibleBtn{
  cursor:s-resize;
} 

.occupationList td:hover {background-color: rgb(230, 230, 230);}

.navbar {
  /*height: 50px;*/
  background-color: #fffcf8;
  position: relative;
  display: inline-flex;
}


table#authorTable tr, table#authorTable td
{
  border:solid thin;
  padding: 1px;
  border-collapse: collapse;
}


table#authorTableWindow .Header th, table#textTableWindow th, table#editionTableWindow th {
  font-size: 40px;
  font-family: Arial;
  font-weight: 700;
  padding-bottom: 5px;
  text-decoration: underline 1px rgb(100, 88, 71);
}

/*table#authorTableWindow td {
  border: 0.5px dotted;
}*/

table#authorTableWindow .Works td, table#textTableWindow .Editions td {
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

/* Dropdown Button */
.dropbtn .mainSearch {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.flexbox-container {
  display: flex;/*this causes the stickyness of select window (right below search as desired)*/
  flex-direction: row;
  /*justify-content:center;*/
}

.siteHeader {
  padding-bottom: 30px;
  padding-top: 10px;
}

.searchText {
  width:500px;
}

#detailedSearchResults td, #detailedSearchResults th, #importPreview td, #importPreview th {
  border: 1px dotted rgb(117, 115, 115);
  padding: 8px;
}
#detailedSearchResults, #importPreview {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
}
#detailedSearchResults th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #08153f;
  color: white;
  /*position: sticky;*/
  top: 0px;
  cursor:pointer;
}

#importPreview th {
  background-color: #bebebe;
}

#detailedSearchResults tr, #importPreview tr{background-color: #ffffff;}

#detailedSearchResults tr:hover, #importPreview tr:hover {background-color: #ddd;}

#detailedSearchHead .container {
  position: sticky;
  top: 0px;
}

/* CSS */
.homeBtn, .detailedSearchBtn, .importBtn, .adminBtn, .editBtn, .submitEditBtn, .changeSearchVersionBtn {
  top:0;
  /*background-color: #054777;*/
  background-color: #dedbdb;
  /*border: 1px solid transparent;*/
  border: none;
  /*border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;*/
  /*color: #fff;*/
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.editBtn, .submitEditBtn, .changeSearchVersionBtn {
  background: none;
}

.homeBtn:hover, .detailedSearchBtn:hover, .importBtn:hover, .adminBtn:hover, .editBtn:hover, .submitEditBtn:hover, .changeSearchVersionBtn:hover 
/*,.homeBtn:focus, .detailedSearchBtn:focus, .importBtn:focus, .adminBtn:focus*/
{
  background-color: #012443;
  color:white;
}

.homeBtn:active, .detailedSearchBtn:active, .importBtn:active, .adminBtn:active, .editBtn:active, .submitEditBtn:active, .changeSearchVersionBtn:active {
  background-color: #012443;
  color: white;
  box-shadow: none;
}

.editBtn, .submitEditBtn {
  border: 0.5px solid black;
}

.importBtn {
  padding-left: 10px;
}

