body {margin:0; margin-left:5px;}
.watchlist-btn, .like-btn, .dislike-btn, .watchlist-btn-active, .like-btn-active, .dislike-btn-active 
  {background-color:white; border: none; opacity:0.5;}
.watchlist-btn:hover, .like-btn:hover, .dislike-btn:hover, .watchlist-btn-active:hover, .like-btn-active:hover, .dislike-btn-active:hover 
  {border-bottom: 1px solid black; cursor: pointer;}
.watchlist-btn-active, .like-btn-active, .dislike-btn-active {opacity:1;}
.latestAdditionsHeader {font-weight:700; font-size: 1.2em;}
.list-buttons {display: flex; justify-content: flex-end;}
.listHeader, .profile-info {font-weight:700;}
.list-item {
  border: 0.5px solid black;
  background-color:#fcfcfc;
  display:flex;
  position: relative;
  height:62px;
}
.list-title{margin:2px; margin-left:2px;}
.list-title:hover {cursor: pointer; border-bottom:1px solid black;}
.list-description{margin:5px 0px; margin-left:2px;}
.list-detailed-description{border-bottom:0.5px dotted black;}
.list-details {display:flex; justify-content:space-between; flex-direction:column; align-items:flex-end; position:absolute; right:0; top:0; padding:5px; padding-bottom:0;}
.list-dates {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.list-dates label {font-weight:700; margin-right:5px;}
.list-user label{font-weight:700;}
.list-created {margin:0;}
.list-buttons {display: flex; gap: 10px;}
.list-base-description {font-weight:bold;margin-top:0;}
.list-header h2 {margin-bottom:0;}
.list-statistics-container {display:flex; flex-direction:row; justify-content: flex-end}
.list-statistics, .list-statistics-filter {margin-top: 10px; margin-bottom: 5px; display:flex; flex-direction:row;}
.list-statistics-btn, .list-statistics-btn-active {background-color: white; border: none; border-bottom: 1px solid black; font-size: 14px;}
.list-statistics-btn-active {background-color: rgb(198, 197, 197); font-weight: bold;}
.list-statistics-btn:hover, .list-statistics-btn-active:hover {background-color:grey; cursor:pointer;}

.check-btn{border: 0; background-color:white; font-size:25px;}
.check-btn:hover {cursor:pointer; background-color:rgb(242, 239, 239);}

.search-dropdown-popup {
  position: absolute;
  top: 40px; /* adjust this value to position the filter component vertically */
  left: 100px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
}

ul,li {list-style: none;}

.latestAdditionsList ul {border-bottom: 0.5px dotted;}
.latestAdditionsList {padding-right: 15px;}
.latestAdditions {
  font-family: Arial;
  list-style-type: none;
  border: 1px solid;
  text-align: center;
  width: 250px;
  margin-top:5px;
}
.latestAdditions header {padding-top: 5px;}

.listRow {
  font-size: 0.9em;
  border: 0.5px dotted;
  padding: 5px;
}

.reorderBtn, .clearDropdown, .expandBtn, .dropdown-toggle {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align:left;
  border-bottom: 0.5px solid #a8a7a7;
  font-weight:600;
  margin:5px;
}

.dropdown-popup {
  position: absolute;
  top: 90px; /* adjust this value to position the filter component vertically */
  right: -30px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.dropdown-menu-label {
  font-weight:600;
  border-bottom: 0.5px solid #a8a7a7;
  margin: 5px;
}
/*Author View */
.author-container-header {display: flex; flex-direction:row; position:relative; align-items: center}
.author-container {border: 0.5px solid black; position:relative;}
.author-container h2 {
  text-align: center;
  padding-bottom:5px;
  margin: 0;
  font-size: 24px;
}
.author-header {color: #000000;text-decoration: none;cursor:pointer}

.tab-button, .lists-tab, .lists-tab-open {
  background-color: #fff;
  color: #000;
  border: none;
  border-bottom: 1px solid #a8a7a7;
  cursor: pointer;
  margin:10px;
  font-size: 16px;
  outline: none;
  width:400px;
  font-weight:600;
}

.lists-tab-open {background-color:rgb(95, 94, 93); color:white;}

.tab-content {display: none;}
.tab-content.active {display: block;}
.tab-button-inactive {
  background-color: #7e7a7a;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #a8a7a7;
  cursor: pointer;
  margin:10px;
  font-size: 16px;
  outline: none;
  width:100px;  
}

.person-info, .person-texts {margin: 10px; width: 400px; max-height: 600px;}
.person-info h2 {margin: 0; font-size: 24px;}
.person-info p, .person-texts p, .dropdown-menu-option {margin: 5px;}
.person-info p {margin-left:0;}
.author-img {max-width:400px;max-height:200px;object-fit: contain;}

.person-texts {position:relative;}

.wikiExternals {margin: 10px;}

.textImg {width:50px; height:75px; object-fit:contain;}

.text-row, .archiveRow {
  color: #000000;
  text-decoration: none;
  margin:2px;
  margin-left: 5px;
}
.text-row-sub {
  font-style:italic;
  font-size: 12px;
  margin-left: 5px;
}
.text-row-detailed {
  border-bottom: 0.5px dotted black;
  border-top: 0.5px dotted black;
}
.text-row:hover, .archiveRow:hover, .person-texts h3:hover, .author-header:hover {border-bottom:1px solid black; cursor:pointer;}

.textInfo {display: flex; flex-direction: column;}

.textBox, .filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*Author View End */

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 0.7em;
  margin-bottom: 0px;
  text-align: center;
  font-family: Arial;
  font-style: italic;
  text-decoration: rgb(95, 94, 93);
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease-in-out 0.2s;
}

.collapsibleBtn {cursor:s-resize;} 

.occupationList td:hover {background-color: rgb(230, 230, 230);}

.navbar {
  background-color: #dedbdb;
  position: relative;
  display: inline-flex;
}

.dropbtn .mainSearch {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.flexbox-container {
  display: flex;/*this causes the stickyness of select window (right below search as desired)*/
  flex-direction: row;
  position:relative;
  z-index:1;
  background-color: #dedbdb;
  position: sticky;
  border-bottom: 1.5px solid #8a8a8a; 
  top: 0;
}

.search-input {
  width: 500px;
  justify-content: center;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}
.list-element-search {border:1px solid black;}
.list-search-result {display:flex;flex-direction:row;}
.list-search-result p {margin:5px; border-bottom:0.5px solid black;}
.list-search-result button, .remove-col-btn {background-color: white; border:none;}
.list-search-result:hover, .list-remove-element:hover {cursor:pointer; border-bottom: 1px solid black;}

.list-element-draggable {cursor:move;}
table.drag-table {
  border-collapse: collapse;
  width: 100%;
  border: 0.5px solid black;
}
table.drag-table td, table.drag-table th {
  padding: 8px;
  border-bottom: 0.5px solid #ddd;
  border-right: 0.5px dotted #ddd;
}
table.drag-table th, .remove-col-btn {background-color: rgb(10, 10, 51); color:white;}
.remove-col-btn{border-radius: 25px; border: 0.5px solid white; margin-left:10px;}
.remove-col-btn:hover {background-color:white; cursor:pointer; color: black;}

.search-result {cursor:pointer; margin:8px; padding-left:0px;}
.search-result:hover, .text-row:hover {background-color:#bebebe}
.search-bar, .list-search-bar {
  border: 1px solid black;
  border-radius: 4px;
  margin-top:5px;
  background-color:white;
  flex-direction:row;
  display: flex;
  max-width:500px;
}
.clear-search {padding-right:5px;}
.list-search-bar {border:none}
.list-add-element-container{
  max-height: 300px; /* set the maximum height */
  overflow-y: auto;
  overflow-x:auto;
  max-width:500px;
  border:0.5px solid black;
  margin-bottom:10px;
}
.list-text-area {width:500px; height:100px}

.clear-search-button {border: none; background-color: white;border-radius: 30px;}
.clear-search-button:hover {background-color:rgb(221, 220, 220); cursor:pointer;}
.return-btn {cursor:pointer; font-weight:600; background-color:white;border:none;}
.return-btn:hover{border-bottom:0.5px solid black;}

#detailed-search-results td, #detailed-search-results th, #importPreview td, #importPreview th, #listTable th, #listTable td {
  border: 1px dotted rgb(117, 115, 115);
  padding: 8px;
}
#detailed-search-results, #importPreview, #listTable, .search-result-all {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
}
.search-result-all,.search-type, .radio-container, .list-search-type {width:fit-content;}
.list-search-type {border: 1px solid black; border-top: 0; margin:0;}
.list-search-bar {border: 1px solid black;}
.search-result-all-elements {flex-direction:row; display: flex}
#detailed-search-results th, #listTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #08153f;
  color: white;
  top: 0px;
  cursor:pointer;
}
#detailed-search-results tr, #importPreview tr, #listTable tr {background-color: #ffffff;}
#detailed-search-results tr:hover, #importPreview tr:hover, #listTable tr:hover {background-color: #ddd;}
#detailedSearchHead .container {
  position: sticky;
  top: 0px;
}
.popup-row:hover {cursor:pointer;}

.header-btn {
  padding-left:1rem; 
  padding-right:1rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-btn button, .changeSearchVersionBtn, .resetEditBtn, .addNewBtn,.listsBtn {
  border-radius: 30px;
  top:0;
  background-color: #dedbdb;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.header-btn button {background: none;}

.header-btn:hover button, .changeSearchVersionBtn:hover,.resetEditBtn:hover, .addNewBtn:hover, .listsBtn:hover, .collapsible:hover
,.dropdown-toggle:hover, .reorderBtn:hover, .clearDropdown:hover, .expandBtn:hover, .tab-button:hover, .tab-button-inactive:hover
, .lists-tab:hover, .lists-tab-open:hover
,.reorderBtn:hover, .clearDropdown:hover, .expandBtn:hover {
  background-color: #012443;
  color:white;
}

.header-btn:active button, .editBtn:active, .submitEditBtn:active, .changeSearchVersionBtn:active, .addNewBtn:active, .listsBtn:active {
  background-color: #012443;
  color: white;
  box-shadow: none;
}

.collapsible {
  background-color: #fff;
  color: #000;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.collapsible:after {
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.dropdowns-container, .dropdown-menu, .filterTexts, .lists-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow-y:auto;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position:relative;*/
}

.absolute {position:absolute;}

.dropdown-label {
  margin-bottom: 5px;
  margin-top:5px;
  font-weight: 600;
}

.table-row-content {position: relative;}

.popup {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99999;
  min-width:500px;
}
.popup p {background-color: white;}
.popupArea { cursor:pointer;}

select {
  background-color: #fff;
  color: #333;
  font-size: 15px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  width:auto;
  max-height:30px;
  margin-top:10px;
}

.table-row:hover tr {background-color:lightgrey}

.login-container, .register-container {
  background-color:white; 
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-btn, .create-user, .create-user-terms, .form-label {max-width:400px;object-fit: contain; margin: 5px 5px;}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pw-error, .email-error, .list-error {color:red;}
.create-account-header, .create-list-header {margin:5px 5px; border-bottom: 0.5px solid black;}
.return-login-btn, .return-register-btn {background-color:white; border:none; }
.return-login-btn:hover, .return-register-btn:hover {border-bottom:1px solid black; cursor:pointer}
.login-container p, .login-container button, .form-container p, .form-container button, .form-container label, .form-container input
,.sign-in, .sign-in button
{font-size: 16px; font-family: Arial; margin:5px 5px;}
.login-container input {border-radius: 25px; border: 0.5px solid black; padding:5px;}
.login-container button, .create-user, .submit-btn[type=submit], .return-login-btn, .save-btn
 {border:none;background-color:white;font-weight: 700; margin:5px 5px;}
.login-container button:hover, .create-user:hover, .submit-btn[type=submit]:hover, .save-btn:hover {cursor:pointer; border-bottom:1px solid black;}
.submit-btn[type=submit], .save-btn {border: 1px solid black; border-radius:25px;margin-top:5px;}
.submit-btn[type=submit]:hover, .save-btn:hover {background-color:#ccc;}
.radio-container {margin:5px;padding:none;}


.edit-btn, .delete-btn {background-color:white; border:none;}
.edit-btn:hover, .delete-btn:hover {cursor:pointer; border-bottom:1px solid black;}


.page-btn, .page-btn-active {background-color: white; border: 0.5px solid black;}
.page-btn:hover, .page-btn-active:hover {cursor:pointer; background-color:grey;}
.page-btn-active {background-color:grey;}